.accordion {
    border-radius: 20px !important;
    transition: background-color 0.3s;
    &:not(:last-child) {
        margin-bottom: 12px;
    }
    &:first-child {
        border-radius: 20px !important;
    }
    &:last-child {
        border-radius: 20px !important;
    }
    &::before {
        content: none !important;
    }
    &__head {
        :global(.MuiAccordionSummary-content) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 767px) {
                flex-direction: column-reverse;
                align-items: flex-start;
            }
        }
        p {
            position: relative;
            transition: opacity 0.3s;
            @media (max-width: 767px) {
                margin-top: 16px;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 1px;
                background-color: black;
                transition: width 0.3s;
            }
        }
    }
    &-done {
        background-color: rgba(192, 192, 192, 0.858);
        .accordion__head p {
            opacity: 0.8;
            &::before {
                width: 100%;
            }
        }
    }
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 767px) {
        width: 100%;
    }
    & > * {
        &:not(:last-child) {
            margin-right: 4px;
        }
    }
}
.edit,
.delete {
    fill: var(--main-color) !important;
}
