.todos {
    margin: 20px 0;
    &__button {
        color: white !important;
        margin-right: 0 !important;
        margin-left: auto !important;
        margin-bottom: 20px !important;
        display: flex !important;
        border-radius: 20px !important;
        background-color: var(--main-color) !important;
        @media (max-width: 767px) {
            width: 100% !important;
        }
        svg {
            margin-right: 4px;
            transform: rotate(0);
            transition: transform 0.3s;
        }
        &:hover {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.notFound {
    color: var(--additional-color-2);
}
